@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: $color-black;
    font-family: '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'MS Pゴシック',
        'MS PGothic', sans-serif;
    font-size: 1.6em;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    word-spacing: 1px;
    box-sizing: border-box;
    // フォントの種類の違いによるサイズのバラつきを調整
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    // フォントのアンチエイリアスを調節
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch !important;
    // プリント時に背景色・背景画像の表示を強制
    // exact: 要素の背景色・背景画像を強制的にプリント
    -webkit-print-color-adjust: exact;
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
    @include mq-mobile() {
        min-width: 320px;
    }
    &.is-hidden {
        overflow: hidden;
    }

    /**********************************
    *
    * header footer
    *
    **********************************/
    header {
        background-color: $color-white;
        border-bottom: solid 1px #dcdcdc;
        &.is-hidden {
            visibility: hidden;
        }
        a {
            font-size: 0;
        }
    }
    footer {
        border-top: solid 1px #dcdcdc;
        padding: 30px 0 0;
    }
    /**********************************
    *
    * pankuzu
    *
    **********************************/
    #pankuzu {
        background-color: #f7f4ee;
        width: 100%;
        padding: 8px 0;
        margin: 0;
        z-index: 1;
    }

    #pankuzu li {
        float: left;
        position: relative;
        margin-right: 40px;
        line-height: 1;
        font-size: 11px;
        border-radius: 2px;
        padding: 5px 10px;
        text-align: center;
        background: $color-white;
        color: #6c5b52;
    }

    #pankuzu li.link {
        background: #669219;
        border-radius: 2px;
    }

    #pankuzu li a {
        display: block;
        width: 100%;
        color: $color-white;
        text-decoration: none;
        padding: 0;
    }

    #pankuzu li::after {
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        border: 2px solid;
        border-color: transparent transparent #669219 #669219;
        transform: rotate(225deg);
        position: absolute;
        right: -22px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    #pankuzu li:last-child {
        @include mq-mobile() {
            padding: 5px 10px;
        }
    }

    #pankuzu li:last-child::after {
        content: none;
    }
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    section {
        position: relative;
        width: 100%;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }
}

.pc-class {
    display: block;
    @include mq-mobile {
        display: none;
    }
}

.sp-class {
    display: none;
    @include mq-mobile {
        display: block;
    }
}
