@function get_per($size, $parent: var(--base-size)) {
    @return calc(#{$size} / #{$parent} * 100%);
}

@function get_vw($size, $viewport: var(--base-size)) {
    $rate: 100 / $viewport;
    @return calc(#{$rate} * #{$size} * 1vw);
}

@function get_vh($size, $viewport: var(--base-size)) {
    $rate: 100 / $viewport;
    @return calc(#{$rate} * #{$size} * 1vh);
}

@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    @return $number;
}

$min-vw: 769px;
$max-vw: 1500px;

@mixin fluid-type($properties, $min-value, $max-value) {
    @each $property in $properties {
        #{$property}: $min-value;
    }

    @media (min-width: $min-vw) {
        @each $property in $properties {
            #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
        }
    }

    @media (min-width: $max-vw) {
        @each $property in $properties {
            #{$property}: #{get_vw(strip-unit($max-value))}
        }
    }
}