@mixin iterate-transition-delay($size, $step, $base) {
    @for $i from 1 through $size {
        &:nth-of-type(#{$i}) {
            transition-delay: (($i - 1) * $step + $base) * 1s;
        }
    }
}
@mixin iterate-transition-delay-after($size, $step, $base) {
    @for $i from 1 through $size {
        &:nth-of-type(#{$i})::after {
            transition-delay: (($i - 1) * $step + $base) * 1s;
        }
    }
}
@mixin iterate-animation-delay($size, $step, $base) {
    @for $i from 1 through $size {
        &:nth-of-type(#{$i}) {
            animation-delay: (($i - 1) * $step + $base) * 1s;
        }
    }
}
@mixin iterate-transition-delay-with-parent($el, $size, $step, $base) {
    @for $i from 1 through $size {
        #{$el}:nth-of-type(#{$i}) & {
            transition-delay: (($i - 1) * $step + $base) * 1s;
        }
    }
}
@mixin iterate-transition-delay-with-parent-after($parent, $size, $step, $base) {
    @for $i from 1 through $size {
        #{$parent}:nth-of-type(#{$i}) &::after {
            transition-delay: (($i - 1) * $step + $base) * 1s;
        }
    }
}
@mixin iterate-animation-delay-with-parent($el, $size, $step, $base) {
    @for $i from 1 through $size {
        #{$el}:nth-of-type(#{$i}) & {
            animation-delay: (($i - 1) * $step + $base) * 1s;
        }
    }
}
