@use '../settings/size';

@mixin font-size($pc: 1.6rem, $sp: 1.4rem) {
    @include size.media('>phone') {
        font-size: $pc;
    }
    @include size.media('<=phone') {
        font-size: $sp;
    }
}

@mixin line-height($pc: 1.2, $sp: 1.2) {
    @include size.media('>phone') {
        line-height: $pc;
    }
    @include size.media('<=phone') {
        line-height: $sp;
    }
}

@mixin hover-only {
    @media (hover: hover) {
        @include size.media('>phone') {
            &:hover {
                @content;
            }
        }
    }
    @media all and (-ms-high-contrast: none) {
        &:hover {
            @content;
        }
    }
}
