@use '../settings/easing' as e;

@mixin scroll-fade-in-before($x: 0, $y: 25px) {
    opacity: 0;
    transform: translate($x, $y);
    transition: opacity 0.5s e.ease(OutSine), transform 0.6s e.ease(OutSine);
}

@mixin scroll-fade-in-after($x: 0, $y: 0, $delay: 0.3s) {
    opacity: 1;
    transform: translate($x, $y);
    transition-delay: $delay;
}

@mixin scroll-blur-before($i: 20px) {
    opacity: 0;
    filter: blur($i);
}

@mixin scroll-blur-after($delay: 0.2s) {
    opacity: 1;
    filter: blur(0);
    transition: opacity 1s e.ease(OutSine), filter 1.5s e.ease(OutSine);
    transition-delay: $delay;
}

@mixin scroll-scale-before() {
    opacity: 0;
    transform: scale(0);
}

@mixin scroll-scale-after($delay: 0.5s) {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.6s e.ease(InQuart), transform 0.8s e.ease(OutBack);
    transition-delay: $delay;
}

@mixin scroll-bounce-before() {
    opacity: 0;
    transform: scale(0);
}

@mixin scroll-bounce-after($delay: 0.3s) {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.6s e.ease(InQuart), transform 0.8s e.ease(OutBack);
    transition-delay: $delay;
}
