@mixin iterateTransitionDelay($size, $step, $base) {
    @for $i from 1 through $size {
        &:nth-of-type(#{$i}) {
            transition-delay: (($i - 1) * $step + $base) * 1s;
        }
    }
}
@mixin iterateAnimationDelay($size, $step, $base) {
    @for $i from 1 through $size {
        &:nth-of-type(#{$i}) {
            animation-delay: (($i - 1) * $step + $base) * 1s;
        }
    }
}
@mixin iterateTransitionDelayWithParent($el, $size, $step, $base) {
    @for $i from 1 through $size {
        #{$el}:nth-of-type(#{$i}) & {
            transition-delay: (($i - 1) * $step + $base) * 1s;
        }
    }
}
@mixin iterateAnimationDelayWithParent($el, $size, $step, $base) {
    @for $i from 1 through $size {
        #{$el}:nth-of-type(#{$i}) & {
            animation-delay: (($i - 1) * $step + $base) * 1s;
        }
    }
}
