@mixin scroll-fadein-before($x: 0, $y: 60px) {
    opacity: 0;
    transform: translate($x, $y);
}

@mixin scroll-fadein-after($x: 0, $y: 0, $delay: 0.3s) {
    opacity: 1;
    transform: translate($x, $y);
    transition: opacity .8s linear, transform .8s ease(OutQuart);
    transition-delay: $delay;
}

@mixin scroll-blur-before($i: 3px) {
    opacity: 0;
    filter: blur($i);
}

@mixin scroll-blur-after($delay: 0.3s) {
    opacity: 1;
    filter: blur(0);
    transition: opacity .8s ease(OutQuart), filter 1s ease(OutQuart);
    transition-delay: $delay;
}

@mixin scroll-scale-before() {
    opacity: 0;
    transform: scale(0);
}

@mixin scroll-scale-after($delay: 0.3s) {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.6s ease(InQuart), transform 0.8s ease(OutBack);
    transition-delay: $delay;
}
