@import '../mixins/mq';

// Design sizes
$pc-base-size: 1400;
$tablet-base-size: 1025;
$sp-base-size: 750;

// Breakpoints
$break-point-pc: 1400px;
$break-point-tablet: 1025px;
$break-point-mobile: 768px;

// Fonts
$font-family-default: 'Noto Sans JP', '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
$font-weight-bold: 700;
$font-weight-middle: 500;

// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-torch-red: #e60027;
$color-pink-swan: #b2b2b2;
$color-smoke: #efefef;
$color-azure: #ebf5f5;
$color-white-smoke: #f8efef;
$color-alabaster: #f9f5e4;
$color-saltpan: #eff3e8;
$color-mabel: #c1e0e0;
$color-vanilla-ice: #e4c5c5;
$color-jonquil: #eeeb93;
$color-pale-leaf: #c5d2ad;
$color-pink-lace: #f5c9d3;
$color-kilamanjaro: #35312f;
$color-travertine: #e1dcc1;
$color-olive-drab: #669219;
$color-paris-daisy: #fff154;
$color-gun-powder: #555556;
$color-silver: #c5c5c5;
$color-floral-white : #fbf9f4;
$color-night-rider: #333333;

// z-index
$z-header: 100;

$sec-clip-path-diagonal: 10vw;

// CSS Variables
:root {
    --base-size: #{$pc-base-size};

    @include mq-mobile {
        --base-size: #{$sp-base-size};
    }
}
