.loading {
    $parent: &;
    position: fixed !important;
    top: 0;
    left: 0;
    margin: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background-color: $color-floral-white;
    overflow: hidden;
    z-index: 10000;
    transition: opacity 2s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color 2s linear;
    &.is-hidden {
        display: none;
        opacity: 0;
    }
    &__inner {
        display: block;
        position: relative;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);
        transition: opacity 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        z-index: 1000;
        #{$parent}.is-hidden & {
            opacity: 0;
        }
    }
    &__sara {
        position: relative;
        left: 50%;
        width: get_per(701);
        max-width: 483px;
        transform: translate(-50%);
        @include mq-mobile {
            width: get_per(483);
        }
    }
    &__texts {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include mq-mobile {
            margin: 0 auto get_per(30);
        }
    }
    &__text {
        position: relative;
        &--loading {
            margin: 0 auto;
            width: get_vw(314);
            animation: loading 4.5s ease(InOutQuad) forwards;
            @include mq-mobile {
                margin: 0 auto get_per(30);
            }
            @keyframes loading {
                0% {
                    transform: translate(0, -7px);
                }
                25% {
                    transform: translate(0, 7px);
                }
                50% {
                    transform: translate(0, -7px);
                }
                75% {
                    transform: translate(0, 7px);
                }
                100% {
                    transform: translate(0, -7px);
                }
            }
        }
        &--count {
            margin: 0 get_per(10) 0 0;
            font-size: get_vw(60);
            font-weight: 500;
            font-style: italic;
        }
        &--percent {
            margin: 0;
            padding: 0 0 0 1vw;
            font-size: 4vw;
        }
    }
    &__count {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
}
