// Colors
$color-black: #333333;
$color-mine-shaft: #383434;
$color-white: #ffffff;
$color-warm-grey: #8a8a8a;
$color-light-silver: #d8d8d8;
$color-greyish: #afafaf;
$color-gainsboro: #d9d9d9;
$color-concrete: #f2f2f2;
$color-light-grey: #f7f7f0;
$color-grey: #d6d6c2;
$color-silver: #bcbcbc;
$color-greyish-brown: #ebadad;
$color-congo-brown: #684740;
$color-dark-brown: #2e0909;
$color-mahogany: #610000;
$color-deep-red: #ae0000;
$color-two: #ce1400;
$color-red: #fa0000;
$color-venetian-red: #e60112;
$color-scarlet: #e61201;
$color-fire-brick: #bc1a0e;
$color-shocking-pink: #ff00a8;
$color-nice-blue: #1256c6;
$color-green-pea: #237437;
$color-cement: #9f9f8a;
$color-grass: #6eb92b;
$color-cultured: #f7f6f4;
$color-anti-flash-white: #f5f4f2;
$color-sundown: #ffb1b1;
$color-light-yellow: #fbfcdb;
$color-tidal: #ecfa84;
$color-snot: #a3ca0d;
$color-dark-cream: #ffe795;
$color-fringy-flower: #b5fabf;
$color-australian-mint: #f6ffb2;
$color-silver: #b9b9b9;
$color-desert-storm: #e6e5e4;
$color-spray: #84c5d9;

// default
$color-old-lace: #f7f4ee;
$color-dorado: #6c5b52;
$color-olive-drab: #669219;
$color-gainsboro: #dcdcdc;
$color-beige: #faf8f1;
$color-dirt-brown: #8c6239;
