// Design sizes
$pc-base-size: 1920;
$tablet-base-size: 1020;
$sp-base-size: 750;

$min-vw: 768px;
$max-vw: 1920px;

$breakpoints: (
    'phone': 768px,
    'mobile': 768px,
    'small': 840px,
    'middle': 1100px,
    'tablet': 1100px,
    'pc': 1600px,
    'desktop': 1920px,
    /* stylelint-disable-next-line annotation-no-unknown */
) !default;

@forward '~include-media/dist/_include-media.scss' with($breakpoints: $breakpoints);
